@import "../../../../styles/variables";

.container-breadcrumds {
  ul {
    display: flex;
    padding: $min-space 0 0;

    li {
      padding-right: $min-space;
      list-style: none;

      a {
        list-style: none;
        color: $gray-color;
        text-decoration: none;
        font-size: $min-medium-size;

        &.primary {
          font-weight: bold;

          &:after {
            content: '';
          }
        }

        &:after {
          content: '>';
          padding-left: $min-space;
        }
      }
    }
  }
}
